<style>

/*heading styling*/
#inner h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', 'Times New Roman',serif;
}

/*table styling*/
table,tr{
	width: 60%;
	text-align: center;
	border: 2px solid #fff;
	border-collapse: collapse;
	margin: 0 auto;
}
tr{
  text-align:left;
}
caption{
	font-family: 'Roboto Slab', 'Times New Roman',serif;
	font-size: 24px;
	margin-bottom: 30px;
}

td{
	padding: 5px;
  border: 2px solid #fff;
}
/*back option styling*/

.back{
  text-align: left;
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  text-decoration: underline;
}

.back::before{
  content: '<- ';
  color: #fff;
}

#info{
  margin-left: 200px;
}

 /* Form CSS */
 
form{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #000;
  margin-top: 80px;
}

fieldset{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  /*position: relative;*/
}

legend{
  background: #000;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 10px;
}

/* Styling for labeling */

label{
  padding: 10px 0 0 2px;
  width: 150px; 
  display: block;
  float: left;
}

/* addition of specific content in label fields */

label.field:after {
  content: '*';
  color: #f00;
}

/* styling of specific input tags */

input[type="text"],
input[type="date"],
input[type="password"]{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #000;
  margin: 2px;
  padding:10px;
  width: 250px;
} 

input[type="text"]:hover,
input[type="date"]:hover,
input[type="password"]:hover{
  background: #ccf;
  box-shadow: 2px 3px 5px #666; 
  border: 2px solid #ff9c00;
}

button{
  padding: 4px 6px;
  border: 2px solid #000;
  color: #fff  ;
  background-color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 180px;
  margin-top:20px;
  font-size: 16px;
  font-family: 'Roboto Slab','Times New Roman',serif;
  font-weight: 400;
} 

button:hover{
  background-color: #060;
  border-color: #060;
  color: #fff;
} /* mouseover effect on submit button */


</style>