<style>
  .back{
    text-align: left;
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    text-decoration: underline;
  }

  .back::before{
    content: '<- ';
    color: #fff;
  }
  #inner h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', 'Times New Roman',serif;
    font-weight: 700;
    font-size: 1.8em; 
  }
  /*table styling*/
  table,tr{
    width: 80%;
    border: 2px solid #fff;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
  }


  td{
    padding: 10px;
    border: 2px solid #fff;
    text-align:left;
    color: #ff0;
  }

  th{
    background: #000;
    border: 2px solid #fff;
    padding: 15px;
    color:rgba(230, 212, 135, 0.99);
    text-align: center;
  }
  
  td span{
    color: #fff;
    font-family: 'Roboto Slab', 'Times New Roman',serif;
    font-size: 16px;
  }
  address{
    color: #fff;
  }

  @media (max-width:767px) {
    table{
      width: 80%;
    }
    .table{
      width: 20%;
    }
  }

  @media (max-width:567px) {
    table{
      width: 50%;
    }
    .table{
      width: 20%;
    }
  }
</style>