
<style>
  /*
  00000000000000000000000000000000000000000000000000
  SSS      SSS       SSS    SSS  SSS  SSS        SSS
  OOO  OOOOOOO  OOO  OOO  O  OO  OOO  OOO  OOOO  OOO
  NNN      NNN  NNN  NNN  NN  N  NNN  NNN        NNN
  IIIIIII  III  III  III  III    III  III  IIII  III
  AAA      AAA       AAA  AAAA   AAA  AAA  AAAA  AAA
  00000000000000000000000000000000000000000000000000
  */

  
  #contact_info img{
    margin-left: 50px;
    border: 2px solid #ff3;
  }
  
  
  #contact_info h2{
    margin-bottom: 0;
  }
  
  #contact_info h2:first-child{
    margin-top: 0;
  }
  
  #contact_info p{
    margin-top: 0;
  }
  
  .two_col{
    margin-left: 15px;
    float:left;
    column-count: 2;
  }
  
  table{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    color: black;
  }
  
  caption{
    color: #300;
    background: #ccf;
    padding: 5px 0;
    font-size: 1.5em;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 700;
    border: 2px Solid #000;
  }
  
  table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px Solid #000;
  }
  
  table th{
    background: #ffc;
    padding: 2px;
    border: 2px Solid #000;
  }
  
  td:nth-child(odd){
    background: #cff;
    border: 2px Solid #000;
    padding: 5px;
  }
  
  td:nth-child(even){
    background: #cfc;
    border: 2px Solid #000;
    padding: 5px;
  }
   /* Form CSS */
   
  form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000;

  }
  
  fieldset{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    /*position: relative;*/
  }
  
  legend{
    background: #000;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px 10px;
  }
  
  /* Styling for labeling */
  
  label{
    padding: 10px 0 0 2px;
    width: 150px; 
    display: block;
    float: left;
  }
  
  /* addition of specific content in label fields */
  
  label.field:after {
    content: '*';
    color: #f00;
  }
  
  /* styling of specific input tags */
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="password_confirm"]
  textarea{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #000;
    margin: 2px;
    padding:10px;
    width: 250px;
  } 
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="password_confirm"]:hover,
  textarea:hover{
    background: #ccf;
    box-shadow: 2px 3px 5px #666; 
    border: 2px solid #ff9c00;
  }
  
  button{
    padding: 4px 6px;
    border: 2px solid #000;
    color: #fff  ;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 180px;
    margin-top:20px;
    font-size: 16px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 400;
  } 
  
  button:hover{
    background-color: #060;
    border-color: #060;
    color: #fff;
  } /* mouseover effect on submit button */
  
</style>