   
<style>
  /*
  00000000000000000000000000000000000000000000000000
  SSS      SSS       SSS    SSS  SSS  SSS        SSS
  OOO  OOOOOOO  OOO  OOO  O  OO  OOO  OOO  OOOO  OOO
  NNN      NNN  NNN  NNN  NN  N  NNN  NNN        NNN
  IIIIIII  III  III  III  III    III  III  IIII  III
  AAA      AAA       AAA  AAAA   AAA  AAA  AAAA  AAA
  00000000000000000000000000000000000000000000000000
  */

 
  #inner h1{
    text-align: center;
  }
  
  #inner p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 400;
  }
  
  #photography{
    border-radius: 50px;
  }
  
  /* CSS for gallery effects */
  
  .gallery_pic{
    float: left;
    margin-bottom: 40px;
    margin-right: 60px;
    position: relative;
  }
  .gallery_pic img{
    border-radius: 40px 0 40px 0;
    border: 2px solid #fff;
    display: block;
    height: auto;
    width: 100%;
  }
  
  .gallery_pic:nth-child(odd){
    margin-left: 70px;
  }
  
  .gallery_pic:hover > .overlay{
    opacity: 1;
    cursor: pointer;
  }
  
  /* CSS Hover effects */
  
  .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(153,0,0,80%);
    border-radius: 40px 0 40px 0;
    border: 2px solid #fff; 
    transition: .5s ease-in-out;
    opacity: 0;
  }
  
  .text{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  
</style>