<style>
  #inner h1{
    padding: 20px;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
  }

  table{
    width: 100%;
    padding: 10px;
  }
  th{
    text-align:left; 
    padding-left: 250px;
    width: 100px;
  }

  button{
    padding: 4px 16px;
    border: 2px solid #000;
    color: #fff  ;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
  }
  
  button:hover{
    background-color: #060;
    border-color: #060;
    color: #fff;
  }
  
</style>