
<style>
  /*
  00000000000000000000000000000000000000000000000000
  SSS      SSS       SSS    SSS  SSS  SSS        SSS
  OOO  OOOOOOO  OOO  OOO  O  OO  OOO  OOO  OOOO  OOO
  NNN      NNN  NNN  NNN  NN  N  NNN  NNN        NNN
  IIIIIII  III  III  III  III    III  III  IIII  III
  AAA      AAA       AAA  AAAA   AAA  AAA  AAAA  AAA
  00000000000000000000000000000000000000000000000000
  */

  /* Form CSS */
   
  form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000;
  }
  
  fieldset{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: 2px solid #000;
    background: #fff;
    /*position: relative;*/
  }
  
  legend{
    background: #000;
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 20px;
  }
  
  /* Styling for labeling */
  
  label{
    padding: 10px 0 0 2px;
    width: 150px; 
    display: block;
    float: left;
  }
  
  /* addition of specific content in label fields */
  
  label.field:after {
    content: '*';
    color: #f00;
  }
  
  /* styling of specific input tags */
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="password_confirm"]
  textarea{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #000;
    margin: 2px;
    padding:10px;
    width: 250px;
  } 
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="password_confirm"]:hover,
  textarea:hover{
    background: #ccf;
    box-shadow: 2px 3px 5px #666; 
    border: 2px solid #ff9c00;
  }
  
  button,
  input[type="reset"]{
    padding: 4px 16px;
    border: 2px solid #000;
    color: #fff  ;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 400;
    font-size: 16px;
  } 
  button{
    margin-left: 180px;
  }
  input[type="reset"]{
    margin-left: 20px;
  }
  
  button:hover{
    background-color: #060;
    border-color: #060;
    color: #fff;
  } /* mouseover effect on submit button */
    
  input[type="reset"]:hover{
    background-color: #900;
    border-color: #900;
    color: #fff;
  } /* mouseover effect on reset button */
  
</style>