<style>

  #inner h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', 'Times New Roman',serif;
    font-weight: 700;
    font-size: 1.8em; 
  }

  div.img{
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    display: block;
    width: 30%;
    padding-left: 50px;
  }

  div.img img{
    height: auto; 
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.80);
  }

  .details{
    font-family: 'Roboto Slab','Times New Roman', serif;
    font-weight: 400;
    width: 60%;
    float:left;
    padding-left: 130px;
  }

  .item{
    clear: both;
    margin-top: 0;
  }

  table,tr{
    border-bottom: 2px solid #fff;
    border-collapse: collapse;
  }
  td{
    padding: 12px 50px;
    border-bottom: 2px solid #fff;
  }

  .search-btn{
    color: #300;
    background: #fff;
    border: 2px solid #300;
    padding: 9px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin : 25px auto;
  }
  .search-btn:hover{
    color: #fff;
    background: #000;
    border: 2px solid #000;    
  }
  #cart{
    font-family: 'Roboto Slab', 'Times New Roman',serif;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    margin-right: 20px;
    text-align: right;
  }

  #cart_info{
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px;
  }
  .back{
    text-align: left;
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    text-decoration: underline;
  }

  .back::before{
    content: '<- ';
    color: #fff;
  }

  .add_cart{
    color: #300;
    margin-top: 6px;
    text-decoration: none;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 8px;
    padding: 3px 8px;
  }
  .add_cart:hover{
    color: #fff;
    background: #000;
    border: 2px solid #000;
  }
  @media (max-width:767px) {
    div.img{
      display: block;
      width: 100%;
      padding: 0;
    }

    div.img img{
      height: auto; 
      width: 100%;
    }

    .details{
      width: 100%;
      padding-left: 50px;
    }
    .item{
      clear: both;
      margin-top: 0;
    }
    table,tr{
      border-bottom: 2px solid #fff;
      border-collapse: collapse;
    }
    td{
      padding: 8px 20px;
      border-bottom: 2px solid #fff;
    }
  }
</style>