<style>

  div.form
  {
      display: block;
      text-align: left;
  }
  
  form{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  /* Styling for labeling */
  
  label{
    padding: 10px 0 0 2px;
    width: 150px; 
    display: block;
    float: left;
    color: #000;
    text-align: left;
  }
  
  /* addition of specific content in label fields */
  
  label.field:after {
    content: '*';
    color: #f00;
  }
  
  /* styling of specific input tags */
  
  input[type="text"],
  input[type="file"]{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #000;
    margin-right: 26px;
    padding:10px;
    width: 250px;
  } 
  
  input[type="text"]:hover,
  input[type="file"]:hover{
    background: #ccf;
    box-shadow: 2px 3px 5px #666; 
    border: 2px solid #ff9c00;
  }

  input[type="file"]{
    color: #fff;
  }

  input[type="file"]:hover{
    color: #000;
  }
  
  /*  button styling */
  button{
    padding: 6px 16px;
    border: 2px solid #5f6f81;
    color: #fff;
    background: #5f6f81;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  button:hover{
    background-color: #fff;
    border-color: #fff;
    color: #5f6f81;
  } /* mouseover effect on submit button */
  
  .error{
    color: #fff;
  }
  /*  footer styling */
  .td{
    border-right: 1px solid #fff;
  }

  footer{
    color: #5f6f81;
    background: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
</style>