/* media queries for the print only */

nav#main,button,input[type="button"],
.footer_row,
.phone img,
.phone span,
#social_media,a{
  display:none;
}

body{
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #000;
}

#container{
  width: 100%;
  color: #000;
}

header{
  position: relative;
  height: 108px;
  width: 100%;
}

header .logo{
  position: absolute;
  top: 8px;
  left: 0px;
}
table tr td{
  color:#000;
}


